* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: black;
    color:aliceblue;
    border-radius: 20px;
}

.logo {
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 50px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav-links a:hover {
    color: #3787dd;
}

/* About Section */
.about-section {
  background: linear-gradient(to bottom ,rgb(141, 176, 192),white);
  min-height: 100vh;
  padding: 100px 10%;
  display: flex;
  align-items: center;
  color: #0e0c0c;
}

/* Container */
.about-container {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 60px;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

/* Text Content */
.about-content h1 {
  font-size: 48px;
  margin-bottom: 30px;
}

.about-content p {
  font-size: 18px;
  line-height: 1.8;
  color: #262020;
  margin-bottom: 20px;
}

.about-content span {
  color:  #4e72e8;
  font-weight: 500;
}

/* Button */
.about-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 28px;
  border-radius: 30px;
  background:  #4e72e8;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.about-btn:hover {
  background: #262424;
  transform: translateY(-2px);
}

/* Image */
.about-image img {
  width: 100%;
  max-width: 350px;
  border-radius: 20px;
  border: 2px solid #ff4d4d;
  box-shadow: 0 0 30px rgba(255, 77, 77, 0.3);
}

/* Responsive */
@media (max-width: 900px) {
  .about-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-image {
    margin-top: 40px;
  }
}


/* Skills Section */
.skills-section {
  background: linear-gradient(to bottom ,rgb(141, 176, 192),white);
  padding: 100px 10%;
  min-height: 100vh;
  color: #0a0909;
}

/* Title */
.skills-title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 70px;
}

/* Grid Layout */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  max-width: 1100px;
  margin: auto;
}

/* Skill Card */
.skill-card {
  background: #181818;
  border: 1px solid #ff4d4d;
  border-radius: 16px;
  padding: 40px 20px;
  text-align: center;
  transition: 0.3s ease;
}

/* Icon/Image */
.skill-card img {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}

/* Skill Name */
.skill-card h3 {
  color: #ff4d4d;
  font-size: 22px;
  font-weight: 500;
}

/* Hover Effect */
.skill-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(62, 15, 15, 0.3);
}


.projects-section {
  background: linear-gradient(to bottom ,rgb(141, 176, 192),white);
  padding: 80px 10%;
  min-height: 100vh;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
  max-width: 2000px;
  margin: 0 auto;
  background-color:linear-gradient(135deg, #121212, #1a1a1a);
}

.project-grid {
  display: grid;
  grid-template-columns: 2fr 1fr; /* text | image */
  gap: 40px;
  align-items: center;
}

.project-card {
  border: 3px solid #399cff;
  padding: 20px 26px;
  border-radius: 8px;

  background-color:  #4e72e8;
  color: #f7f4f4;
}

.project-card h3 {
  font-size: 22px;
  margin-bottom: 6px;
}

.project-card p {
  font-size: 16px;
  color: #cccccc;
}

.project-image {
  width: 100%;
  height: 140px;

  border-radius: 12px;
  overflow: hidden;
  border: 2px solid #ffffff;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-title {
  text-align: center;
  font-size: 56px;
  color:rgb(11, 10, 10);
  margin-bottom: 60px;
}

.contact{
    height: 80vh;
    background-color: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10px;
    font-size: 25px;
}

/* Contact Section Background */
.contact-section {
  background: linear-gradient(to bottom ,rgb(141, 176, 192),white);
  padding: 100px 10%;
  min-height: 100vh;
  color: #171414;
}

/* Title */
.contact-title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
}

/* Container */
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  max-width: 1000px;
  margin: auto;
}

/* Contact Info Box */
.contact-info {
  background: #181818;
  padding: 40px;
  border-radius: 10px;
  border-left: 5px solid #ff4d4d;
}

.contact-info h3 {
  margin-bottom: 20px;
  font-size: 26px;
  color:white;
}

.contact-info p {
  font-size: 16px;
  margin-bottom: 15px;
  color: #ffffff;
}

.contact-info span {
  color: #fff;
}

/* Contact Form */
.contact-form {
  background: #181818;
  padding: 40px;
  border-radius: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  background: #121212;
  border: 1px solid #333;
  padding: 14px;
  margin-bottom: 20px;
  border-radius: 6px;
  color: #fffafa;
  font-size: 15px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #ff4d4d;
}

/* Button */
.contact-form button {
  width: 100%;
  padding: 14px;
  background: #4e72e8;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #333538;
}


/* Home Section */
.home {
  min-height: 100vh;
  background: linear-gradient(to bottom ,rgb(141, 176, 192),white);
  display: flex;
  align-items: center;
  padding: 0 10%;
}

/* Container */
.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
}

/* Left Content */
.home-content h1 {
  font-size: 52px;
  font-weight: 700;
  color: #232020;
  margin-bottom: 15px;
}

.home-content h1 span {
  color: #437ae8;
}

.home-content h3 {
  font-size: 22px;
  font-weight: 400;
  color: #251c1c;
  margin-bottom: 25px;
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.social-icons a {
  width: 42px;
  height: 42px;
  border: 1px solid #4f93e7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e1c1c;
  font-size: 18px;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #4675ce;
  color: #fff;
}

/* Button */
.btn {
  display: inline-block;
  padding: 12px 30px;
  background: #ff4d4d;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.btn:hover {
  background: #ff2f2f;
  transform: translateY(-2px);
}

/* Right Image */
.home-image {
  display: flex;
  justify-content: flex-end;
}

.home-image img {
  width: 380px;
  border-radius: 20px;
  border: 2px solid #fff;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
}

/* Responsive */
@media (max-width: 900px) {
  .home-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .home-image {
    justify-content: center;
    margin-top: 40px;
  }

  .social-icons {
    justify-content: center;
  }
}







footer{
  text-align: center;
  font-weight: bolder;
  background-color: #7dade9;
}








